* {
  box-sizing: border-box;
  margin-bottom: 2px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  Color: #777777;
  width: 100%;
}

h1 {
  padding: 25px;
  width: 960px;
  color: #4aaaa5;
  background-color: #ffffff;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: ccenter;
  float: left;
}

nav {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 10px;
  text-align: right;
  float: right;
}

.bio {
  
}

.form {

}

.portfolio {
  
}

.footer {
  Background-color: #666666;
  font-size: 5px;
}